@import '../../sass/abstracts/mixins';


.friend {
  width: 25%;
  text-align: center;
  margin-top: 50px;
  float: left;
  @include mQ(600px) {
    float: none;
    width: 50%;
    margin: auto;
  }


  .friend-photo {
    width: 100%;
  }

  img {
    height: 200px;
    width: auto;
    border-radius: 50%;
    object-fit: fill;
    // @include mQ(600px) {
    //   border-radius: 0;
    //   width: 50%;
    // }

    &:hover {
      transform: scale(1.1) rotate(360deg);
      transition: 0.5s;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #FCD0A1;
  }
}
