@import '../../sass/abstracts/mixins';


.friend {
  width: 25%;
  text-align: center;
  margin-top: 50px;
  float: left;
  @include mQ(850px) {
    float: none;
    width: 50%;
    margin: auto;
  }


  .friend-photo {
    width: 100%;
  }

  img {
    border-radius: 50%;
    object-fit:cover;
    width:  200px;
    height: 200px;
    margin-top: 15px;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;

    &:hover {
      transform: scale(1.1) rotate(360deg);
      transition: 0.5s;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #FCD0A1;
  }
}
