<div class="friend">
  <div class="friend-name">
    <a routerLink="/my-events"><h3>Sean Dawn</h3></a>
  </div>
  <div class="friend-photo">
    <a routerLink="/my-events"><img src="../assets/moon.jpg" alt="Sally"></a>
  </div>
</div>
<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
