<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
<div class="friend">
  <div class="friend-name">
    <h3>Sally Moon</h3>
  </div>
  <div class="friend-photo">
    <img src="../assets/moon.jpg" alt="Sally">
  </div>
</div>
