@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/variables';

.event-date {
  color: white;
  padding-left: 4.2vw;
  padding-top: 10px;
  h2 {
    font-family: $secondary-font;
  }
}
