@import '../../sass/abstracts/mixins';

.event-date {
  color: white;
  padding-left: 4.2vw;
}

.event-info {
  display: flex;
  margin:  auto;
  justify-content: space-between;
  width: 88vw;
  background-color: #EAA47B;
  @include mQ(600px) {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 0em;
  }

  .event-title {
    padding-left: 20px;
    @include mQ(600px) {
      font-weight: bold;
    }
  }

  .event-location-time {
    display: flex;
    width: 44vw;
    justify-content: space-around;
    @include mQ(600px) {
    justify-content: space-between;
    padding-left: 25px;
    width: 88vw;
    }
  }
}
