<nav class="nav">
  <h1>Meet Match</h1>
  <a routerLink="/all-events">All Events</a>
  <a routerLink="/my-events">My Events</a>
  <a routerLink="/friends">Friends</a>
  <input class="search" type="text" ng-keyup="$event.keyCode == 13 && customSearch()" placeholder="Search">
  <img src="assets/burger.png">
</nav>

<!-- <h1>{{title}}</h1> -->

<div class="map">
  <agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom">
    <agm-marker *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [iconUrl] = "marker.iconUrl"
    ></agm-marker>
    <agm-marker *ngFor="let marker of userMarkers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [iconUrl] = "marker.iconUrl"
    ></agm-marker>
    <agm-marker *ngFor="let marker of friendMarkers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [iconUrl] = "marker.iconUrl"
    ></agm-marker>
  </agm-map>
</div>


<div class="application-container">
  <router-outlet></router-outlet>
</div>
