agm-map {
  height: 25vh;
  width: 90vw;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: white;

  h1 {
    font-size: 2em;
    text-decoration: underline;
    text-underline-position: under;
  }

  a {
    padding-top: 25px;
    color: white;
    text-decoration: none;
  }

  .search {
    height: 2em;
    width: 15em;
    margin-top: 25px;
    border-radius: 5px;
  }
}
